<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>fairi's tech blog</title>
</head>
<body>
    <header>
        <h3>┏━•🖮°♡°🖳°♡°🖫•━┓</h3>
        <h2>𝕿𝖊𝖈𝖍 𝕭𝖑𝖔𝖌</h2>
        <h1>┗━•🖫♡•°🖳°♡°🖮•━┛</h1>
    </header>
    <button class="login"><a href="/login">🗝𝖑𝖔𝖌𝖎𝖓 // 𝖘𝖎𝖌𝖓 𝖚𝖕🗝</a></button>
    <div class="separator"></div>
    <p>
        <div class="navBar">
            <button class="home"><a href="/"> 𝖍𝖔𝖒𝖊 </a></button>
            <button class="posts" onclick="displayPosts()"><a href="/posts"> 𝐝𝖆𝖘𝖍𝖇𝖔𝖆𝖗𝖉 </a></button>
            <button class="logout"><a href="/logout"> 𝖑𝖔𝖌𝖔𝖚𝖙 </a></button>
        </div>
    </p>
    <div class="restOfPage">
    {{{ body }}}
    </div>
    <script src="../js/loginbutton.js"></script>
    <script src="../js/addPost.js"></script>
</body>
</html>