<div class="container">
    <label for="uname"><b>𝖀𝖘𝖊𝖗𝖓𝖆𝖒𝖊</b></label>
    <input type="text" placeholder="𝖊𝖓𝖙𝖊𝖗 𝖚𝖘𝖊𝖗𝖓𝖆𝖒𝖊" name="user" required>

    <label for="psw"><b>𝕻𝖆𝖘𝖘𝖜𝖔𝖗𝖉</b></label>
    <input type="password" placeholder="𝖊𝖓𝖙𝖊𝖗 𝖕𝖆𝖘𝖘𝖜𝖔𝖗𝖉" name="pass" required>

    <button type="submit" id="loginButton" onclick="login()"><a href="./posts"> 𝕷𝖔𝖌𝖎𝖓 </a></button>
</div>
