<div class="container">
  <div class="card-header">
    <h2>
      create new blog post
    </h2>
    <form class='newBlogPost'>
      <label for='post_title'>
        post title:
      </label>
      <br />
      <textarea id="post_title" name='post_title' rows='1' cols='100'></textarea>
      <br />
      <label for='post_content'>
        post content:
      </label>
      <br />
      <textarea id="post_content" name='post_content' rows='20' cols='30'></textarea>
      <br />
      <br />
      <button type="submit" id="save" onclick="saveData()">
        submit
      </button>
    </form>
  </div>
</div>

